// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Styles for comp app @rdar

.client-list, .project-wrap {
    li {
        list-style:none;
        &.client {
            list-style:none;
        }
    }
}


.client-name, .name {
    font-size: 16px;
    text-transform: uppercase;
}

.client, .project {
    em {
        margin-right: 1rem;
    }
}

img {
    max-width: 100%;
}
