// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Styles for comp app @rdar

.dissapear {display:none;}

body {
    font-size:18px;
}

.client-list, .project-wrap {
    li {
        list-style:none;
        &.client {
            list-style:none;
        }
    }
}


.client-name, .name {
    font-size: 16px;
    text-transform: uppercase;
}

.client, .project {
    em {
        margin-right: 1rem;
    }
}

img {
    max-width: 100%;
}

//vars
$gray: #3d393a;
$black: #000;
$white: #fff;

.navbar{
    border-bottom: 5px solid $black;
    background: $white;
    padding: 35px 3%;
    color: $black;
}

.page-title {
    font-size: 10.6rem;
    margin: 0;
    padding: 4% 3%;
    //font-family: $primary-font;
    text-transform: uppercase;
    border-bottom: 5px solid $black;
    letter-spacing: 0.2em;
    color: $white;
    background: $black;
}
